<h1><%= @beer_club.name %></h1>
<h2>Founded
    <%= @beer_club.founded %>
    in
    <%= @beer_club.city %>
</h2>

<h2>Members:</h2>
<ul class="list-group">
  <% @beer_club.confirmed_memberships.map(&:user).each do |m| %>
    <%= link_to m.username, m, class:"list-group-item list-group-item-action" %>
  <% end %>
</ul>

<h2>Pending requests:</h2>
<ul class="list-group">
  <% @beer_club.pending_requests.each do |r| %>
    <li class="list-group-item"><%= r.user.username %></li>
  <% end %>
</ul>

<% if(@beer_club.members.include?(current_user)) %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "Leave the club." %>
  <% end %>
<% elsif current_user %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "Join club!" %>
  <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>
