<h2>
  <%= un = @user.username %>
  <% if @user.banned?  %>
    <span class="badge badge-info">banned</span>
  <% end %>
</h2>

<% if current_user && current_user.admin? %>
  <% if @user.banned? %>
    <%= link_to "Unban", toggle_banned_user_path(@user.id), method: :post, class:'btn btn-success' %>
  <% else %>
    <%= link_to "Ban", toggle_banned_user_path(@user.id), method: :post, class:'btn btn-danger' %>
  <% end %>

<% end %>

<p>
  <h2>Ratings</h2>
</p>
<% if @user.ratings.empty? %>
  <%= "#{un} hasn't made any ratings yet." %>
<% else %>
  <%= "#{un} has made #{pluralize @user.ratings.count, 'rating'}, average rating: #{@user.average_rating}"%><br>
  <%= "#{un}'s favorite beer is #{@user.favorite_beer} and the favorite style of beer is #{@user.favorite_style}."%><br>
  <%= "#{un}'s favorite brewery is #{@user.favorite_brewery}."%>
<% end %>

<ul>
<% @user.ratings.each do |r| %>
  <li>
    <%= link_to r.to_s, r.beer %>
    <% if @user == current_user %>
      <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>

<p>
  <strong>Beer Clubs</strong>
</p>
<% if @user.beer_clubs.empty? %>
  <%= "#{un} isn't a member of any beer clubs." %>
<% else %>
  <%= "#{un} has joined the following beer clubs:" %>
  <ul>
    <% @user.beer_clubs.each do |bc| %>
      <li> <%= link_to bc.name, bc %> </li>
    <% end %>  
  </ul>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
