<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  <% if @beer.ratings.empty? %>
    <%= "#{@beer.name} has not yet been rated!" %>
  <% else %>
    <%= "#{@beer.name} has #{pluralize(@beer.ratings.count,'rating')}, average #{round @beer.average_rating}." %>"
  <% end %>
</p>

<%= edit_and_destroy_buttons(@beer) %>